@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&display=swap');
@import url('https://fonts.maateen.me/solaiman-lipi/font.css');



.container {
  max-width: 1360px !important;
}
@media only screen and (width: 1920px) {
  .container { width: 80% !important; }
}

@media only screen and (width: 1366px) {
  .container { max-width: 90% !important; }
}

@media only screen and (width: 992px) {
  .container { max-width: 90% !important; }
}
@media only screen and (width: 2560px) {
  .container { max-width: 70% !important; }
}


.container-fluid {
  max-width: 80% !important;/*Set your own width %; */
}
@media only screen and (max-width: 600px) { 
  .container-fluid {
  width: 100% !important;/*Set your own width %; */
  }
}







 h1,h2,h3,h4,h5,h6,a,li{
    font-family: 'solaimanLipi', sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style: normal;
  } 
.iconModify24 {
    width:22px;
    margin-right: 15px;
    height: auto;
}
@media all and (max-width:676px) {
    .iconModify24 {
        width:20px;
        margin-right: 0px;
        margin-left: 10px;
        height: auto;
    }
}


.nav-link {
    color: #111!important;
}
.style1stNav {
    font-size: 18px;
    font-size: bold;
    padding: 5px 5px 0px;
    text-align: left;
}
.style1stNav:hover {
    background: #eee;
    border-bottom: 3px solid red;
    margin-bottom: -5px;
}

.style2ndNav {
    font-size: 20px;
    font-size: bold;
    margin-left: 5px;
    padding: 5px 5px 0px;
    border-right: 1px solid #999;
    text-align: right;
}

.style2ndNav:hover {
    background: #eee;
    border-bottom: 3px solid red;
    margin-bottom: -5px;
}

.activedd {
    background: #eee; border-bottom: 3px solid red; margin-bottom: -5px;
}
.style1stNav:focus { border-bottom: 2px solid red; border-radius: 5px;
}

.offcanvas-header{ display:none; }
.screen-overlay {
  height: 100%;
  z-index: 30;
  position: fixed;
  top: 0;
  left: 0;
  opacity:0;
  visibility:hidden;
  background-color: rgba(34, 34, 34, 0.6);
  transition:opacity .2s linear, visibility .1s, width 1s ease-in;
}
.screen-overlay.show {
  transition:opacity .5s ease, width 0s;
  opacity:1;
  width:100%;
  visibility:visible;
}

.cstmBG {
    background: rgb(182,182,182);
    background: linear-gradient(0deg, rgba(182,182,182,1) 0%, rgba(255,255,255,1) 5%);
    z-index: 2
}

.dropdown-item:hover { background-color: #eee; }

#logo {
  overflow: hidden;
  transition: 0.5s;
  width: 300px;
  z-index: 0;

}

@media all and (max-width:676px) { 
    .cstmBG { padding: 0em .8em;}
    .offcanvas-header{ display:block; }
    .mobile-offcanvas{
        visibility: hidden;
        transform:translateX(-100%);
        border-radius:0; 
        display:block;
        position: fixed;
        top: 0; left:0;
        height: 100%;
        z-index: 1200;
        width:70%;
        overflow-y: scroll;
        overflow-x: hidden;
        transition: visibility .2s ease-in-out, transform .2s ease-in-out;
    }
    .mobile-offcanvas.show { visibility: visible; transform: translateX(0); }
}

/*dropdown_hover */	
.dropdown:hover > .dropdown-menu {
       display: block;
}

.dropdown-item:hover {
    background-color: #e4e4e4;
}

/*mega menu */
.menu-large {
  position: static !important;
}

.megamenu {
    margin-top: 0px;
      padding: 0px 20px;
      width: 100%;
} 

.megamenu > div > li > ul {

  padding: 10px 0 0;
}

.megamenu > div > li > ul > li {
  list-style: none;

}

.megamenu > div > li > ul > li > a {
    font-size: 18px;
    clear: both;
    color: #444;
    font-weight: normal;
    white-space: normal;
    display: block;
    margin: 5px 0px;
    padding: 2px 3px;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
    transition: all .4s;
}

.megamenu > div > li > ul > li > a:hover {
    background-color: white;
    border-left: 10px solid hsla(190, 80%, 40%, 1);
    padding-left: 5px;
}


.megamenu2 > div > li > a {
    font-size: 22px;
    clear: both;
    color: #333!important;
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    transition: all .4s;
}






.dropdown-header {
    color: #333!important;
    font-size: 18px;
    font-weight: bold;
      padding: 5px 0px !important; 
}
.dropdown-header:hover {
      text-decoration: none;
}

.singleDDMenu > div > a {
    font-size: 18px;
    padding-left: 15px;
    color: #333!important;
    white-space: normal;
    text-decoration: none;
    transition: all .4s;
}
.singleDDMenu > div > a:hover {
    border-left: 10px solid hsla(190, 80%, 40%, 1);
}


/* ======Navbar Margin ======*/
.navmargin {
    margin-top: 100px;
}
@media (max-width: 768px) {
    .navmargin {
        margin-top: 120px;
    } 
}

/*mega menu */
/*trending menu start */
div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
  } @media only screen and (max-width: 600px) { 
    div.scrollmenu {
      -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
  div.scrollmenu::-webkit-scrollbar {
    display: none;
  }

  div.scrollmenu a {
  color: white;
  font-size: 12px;
  padding: 3px 12px;
  margin-right: 10px;
  border-radius: 15px;
  background-color: #3A495E;
  text-decoration: none;
    border-image-slice: 1;
    transition: all;
    transition: 0.3s ease-in;
  } @media only screen and (max-width: 600px) 
    { div.scrollmenu a {
      display: inline-block; margin-right: 2px; }
    }


  div.scrollmenu a:hover {
    background-color: #eee;
  }


/* Footer Section */
@media only screen and (max-width: 600px){
  						.styleFollowUs {text-align: center;
              } 
              } 
		
              .scrlstyle {
                font-size: 18px;
                font-weight: 600!important;
                padding-top:25px;
            }
            .bttttn {
                font-size: 24px;
                color: white;
            } @media only screen and (max-width: 600px) {
                .bttttn {
                font-size: 24px;
                color: white;
                }  
               .scrlstyle {
                    font-size: 18px;
                   }
            }
            @media only screen and (max-width: 600px) {
                .cardtopbox {
                  height: 100%;
                  width: 100%;
                } 
                .cardtopbox h1 { 
                  font-size: 24px;
                  font-weight: 700;
                } 
                .cardtopbox h4 { 
                  text-align: right;
                  font-size: 18px;} 
              } 

              /* category details */
              .boxstyleCatpageTop {
                max-height: 70px;
                overflow: hidden;
                background-color: #fff;
              }
              .boxstyleCatpageTop:hover{
              background-color: #e5f7ff;
              text-decoration: none;
              }

              /* footer css */
              .social-buttons a{
                display: inline-flex;
                text-decoration: none;
                color: white;
                font-size: 14px;
                width: 35px;
                height: 35px;
                justify-content: center;
                align-items: center;
                position: relative;
                background: linear-gradient(95deg,#777,#222);
                border-radius: 50%;
                margin-right: 8px;
              }
            
              .social-buttons a {
                transition: 0.2s ease-in;
              }
              .social-buttons a:hover {
                  transform: scale(1.2);
              }


              /* details page */
              .cstomWidth {
                width: 80%;
              }
          
          
              h2 {
                font-weight: bold;
         
          
              } @media (max-width: 768px) {
                h2 { 
                  font-size: 24px;
                  padding: 10px 0;
                 } 
              }
              
              .detailsStyle p {
                color: #444; 
                text-align: justify;
                font-size: 20px;
                line-height: 1.5;
                margin-bottom: 18px;
              }  @media (max-width: 768px) {
                .detailsStyle p { 
                  font-size: 20px;
                }
              }
              
              .detailsStyle h5 {
                font-size: 22px;
                color: #333;
                font-weight: bold;
          
              }
          
              .topboxstyle a {
                text-decoration: none;
              }
              .topboxstyle a:hover {
                background-color: #e5f7ff;
              }
              .topboxstyle p {
                font-size: 16px;
                background-color: #fff;
                padding: 5px 5px;
                height: 55px;
                overflow: hidden;
                line-height: 1.3em;
                text-decoration: none;
              }
              
          
              .tagbtnstyle2Modify a {
                font-size: 16px!important;
                margin-left: 5px;
              }
          
              .share-this-cstmstyle {
                margin-top: -33px;
                opacity: 100%;
              }
              .share-this-cstmstyle:hover {
                opacity: 30%;
              }


              /* sport */
            

  :root {
    --primary-heading: 26px; /* Example primary size */
    --primary-font-wight: 600; /* Example primary color */
    --primary-lineHieght: 30px; /* Example secondary color */
    --secondary-heading: 20px; /* Example secondary color */
    --secondary-color: #000000ad; /* Example secondary color */
    --font-size: 16px; /* Example font size */
    --border-right: 1px solid #e5e5e5af; /* Example border right */
    --padding-right: 10px; /* Example border right */
    /* Add more custom CSS variables as needed */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: black;
    list-style: none;
}
a:hover{
 
    color: blue;
    text-decoration: none;

}
.CategoryName {
    padding-top: 10px;
    border-top: 4px solid #8c8787;
    margin-top: 50px;
}

span{
   font-size: small;
   padding: 0px 5px 0px 5px;
}
.adsBg{
    background-color:#F7F7F7;
    padding: 40px 0px 40px 0px;
}

.Category_content img {
    padding: 0px 10px 0px 0px;
}
.Category_content h2 {
   font-size: 20px;
   line-height: var(--primary-lineHieght);
   margin-right: 10px;
   font-weight:var(--primary-font-wight);

}.Category_content h3 {
   font-size: var( --secondary-heading);
   color: var(--secondary-color);
}
.br {
    border-right: var(--border-right);
    padding-right: var(--padding-right);
}
.bb{
    border-bottom:var(--border-right);
    padding-bottom:var(--padding-right);
}
.Cpr {
    padding-right: var(--padding-right);
}
.Cpb {
    padding-bottom: 20px;
}
.pr{
    padding-right: var(--padding-right);
}

.content_1 img {
    margin-right: 20px;
    padding-bottom: var(--padding-right);
}
.content_1 h2{
    font-size: 20px;
   font-weight:var(--primary-font-wight);

}
.extraCategory_img img {
    width: 100%;
}

.extraCategory_content h2{
   font-weight:var(--primary-font-wight);

    font-size: var(--primary-heading);
}
.extraCategory_content h3{
    font-size: var(--secondary-heading);
   color: var(--secondary-color);

}
.row .col-md-3:last-child {
    border-right: none;
}
@media screen and (max-width: 768px) {
    .Category_content{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 20px;
    }
    .content_1 img {
    margin-right: 0px;
    padding-bottom: var(--padding-right);
}

.content_1{
display: flex;
justify-content: space-between;
}
.Category_content img{
    width: 300px;
    height: 200px;
}

.newsSearch form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 20px;
}
.newsSearch form bg-transparent{
    padding-top: 50px;
}
.py{
    padding-bottom: 10px;
}
}

.search_title h2{
    font-size: var(--primary-heading);
    color: black;
}
.catBangladesh h2{
    font-size: var(--primary-heading);
    font-weight: var(--primary-font-wight);
}
.catBangladesh h3{
    font-size: var(--secondary-heading);
}


.col-md-5 .row > a:second-child {
    padding-top: 10px; /* Remove top padding for the first child element */
}

.col-md-5 .row > a:last-child {
    border-bottom: none; /* Remove bottom border for the last child element */
}
.row > a:last-child {
    padding-bottom: 0px;
}
.lastBorderRemove > a:last-child {
    border-bottom: none;
}
.lastBorderRemove > a:first-child {
  padding-top:  0px !important;
}


/* Menu bar */
#menuBar {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;

  box-shadow: #000000ad 0px 0px 10px;
  height: 100%;
  background-color: #f1f1f1;
  z-index: 100000000;
  transition: transform 0.3s ease;
}

.hidden {
  transform: translateX(100%);
}

#closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}