@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&display=swap');

/* h1,h2,h3,h4,h5,h6,a,li{
    font-family: "Baloo Da 2", sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style: normal;
  } */
.iconModify24 {
    width:22px;
    margin-right: 15px;
    height: auto;
}
@media all and (max-width:676px) {
    .iconModify24 {
        width:20px;
        margin-right: 0px;
        margin-left: 10px;
        height: auto;
    }
}


.nav-link {
    color: #111!important;
}
.style1stNav {
    font-size: 18px;
    font-size: bold;
    padding: 5px 5px 0px;
    text-align: left;
}
.style1stNav:hover {
    background: #eee;
    border-bottom: 3px solid red;
    margin-bottom: -5px;
}

.style2ndNav {
    font-size: 20px;
    font-size: bold;
    margin-left: 5px;
    padding: 5px 5px 0px;
    border-right: 1px solid #999;
    text-align: right;
}

.style2ndNav:hover {
    background: #eee;
    border-bottom: 3px solid red;
    margin-bottom: -5px;
}

.activedd {
    background: #eee; border-bottom: 3px solid red; margin-bottom: -5px;
}
.style1stNav:focus { border-bottom: 2px solid red; border-radius: 5px;
}

.offcanvas-header{ display:none; }
.screen-overlay {
  height: 100%;
  z-index: 30;
  position: fixed;
  top: 0;
  left: 0;
  opacity:0;
  visibility:hidden;
  background-color: rgba(34, 34, 34, 0.6);
  transition:opacity .2s linear, visibility .1s, width 1s ease-in;
}
.screen-overlay.show {
  transition:opacity .5s ease, width 0s;
  opacity:1;
  width:100%;
  visibility:visible;
}

.cstmBG {
    background: rgb(182,182,182);
    background: linear-gradient(0deg, rgba(182,182,182,1) 0%, rgba(255,255,255,1) 5%);
    z-index: 2
}

.dropdown-item:hover { background-color: #eee; }

#logo {
  overflow: hidden;
  transition: 0.5s;
  width: 300px;
  z-index: 0;

}

@media all and (max-width:676px) { 
    .cstmBG { padding: 0em .8em;}
    .offcanvas-header{ display:block; }
    .mobile-offcanvas{
        visibility: hidden;
        transform:translateX(-100%);
        border-radius:0; 
        display:block;
        position: fixed;
        top: 0; left:0;
        height: 100%;
        z-index: 1200;
        width:70%;
        overflow-y: scroll;
        overflow-x: hidden;
        transition: visibility .2s ease-in-out, transform .2s ease-in-out;
    }
    .mobile-offcanvas.show { visibility: visible; transform: translateX(0); }
}

/*dropdown_hover */	
.dropdown:hover > .dropdown-menu {
       display: block;
}

.dropdown-item:hover {
    background-color: #e4e4e4;
}

/*mega menu */
.menu-large {
  position: static !important;
}

.megamenu {
    margin-top: 0px;
      padding: 0px 20px;
      width: 100%;
} 

.megamenu > div > li > ul {

  padding: 10px 0 0;
}

.megamenu > div > li > ul > li {
  list-style: none;

}

.megamenu > div > li > ul > li > a {
    font-size: 18px;
    clear: both;
    color: #444;
    font-weight: normal;
    white-space: normal;
    display: block;
    margin: 5px 0px;
    padding: 2px 3px;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
    transition: all .4s;
}

.megamenu > div > li > ul > li > a:hover {
    background-color: white;
    border-left: 10px solid hsla(190, 80%, 40%, 1);
    padding-left: 5px;
}


.megamenu2 > div > li > a {
    font-size: 22px;
    clear: both;
    color: #333!important;
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    transition: all .4s;
}






.dropdown-header {
    color: #333!important;
    font-size: 18px;
    font-weight: bold;
      padding: 5px 0px !important; 
}
.dropdown-header:hover {
      text-decoration: none;
}

.singleDDMenu > div > a {
    font-size: 18px;
    padding-left: 15px;
    color: #333!important;
    white-space: normal;
    text-decoration: none;
    transition: all .4s;
}
.singleDDMenu > div > a:hover {
    border-left: 10px solid hsla(190, 80%, 40%, 1);
}


/* ======Navbar Margin ======*/
.navmargin {
    margin-top: 100px;
}
@media (max-width: 768px) {
    .navmargin {
        margin-top: 120px;
    } 
}

/*mega menu */
/*trending menu start */
div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
  } @media only screen and (max-width: 600px) { 
    div.scrollmenu {
      -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
  div.scrollmenu::-webkit-scrollbar {
    display: none;
  }

  div.scrollmenu a {
  color: white;
  font-size: 12px;
  padding: 3px 12px;
  margin-right: 10px;
  border-radius: 15px;
  background-color: #3A495E;
  text-decoration: none;
    border-image-slice: 1;
    transition: all;
    transition: 0.3s ease-in;
  } @media only screen and (max-width: 600px) 
    { div.scrollmenu a {
      display: inline-block; margin-right: 2px; }
    }


  div.scrollmenu a:hover {
    background-color: #eee;
  }


/*mega menu */